[submodule "src/Chaincode.NET/Chaincode.NET.Test/fabric-chaincode-node"]
	path = src/Chaincode.NET/Chaincode.NET.Test/fabric-chaincode-node
	url = git@github.com:hyperledger/fabric-chaincode-node.git
